.page {
  background-color: #ffffff;
  font-family: "Roboto Slab", fantasy;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.page__content {
  max-width: 1440px;
  /* padding: 28px 40px; */
  font-size: 20px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .page {
    padding: 0;
  }
}
