.nav {
  display: flex;
  gap: 20px;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  margin-top: 9px;
  padding-left: 16px;
  padding-right: 16px;
}

.nav__link {
  font-family: "Roboto", fantasy;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

.nav__link_active {
  position: relative;
}

.nav__link_active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -26px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}

.nav__link:hover {
  text-decoration: none;
}

.nav__button {
  font-family: "Roboto", fantasy;
  font-weight: 500;
  background: transparent;
  border: 1px solid white;
  color: #ffffff;
  border-radius: 48px;
  cursor: pointer;
  transition: background 0.2s ease;
  width: fit-content;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__button:hover {
  background: rgba(255, 255, 255, 0.2);
  opacity: 1;
}

.nav__button-user {
  background-color: rgba(255, 255, 255, 0);
  transition:
    background-color 0.3s ease,
    opacity 0.3s ease;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-weight: 500;
  padding: 12px 20px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  width: fit-content;
  justify-content: center;
}

.header__logout-icon {
  width: 24px;
  height: 24px;
  margin-left: 8px;
  vertical-align: middle;
  position: relative;
  top: 1px;
}

.nav-dark .nav__link,
.nav-dark .nav__button {
  color: #000000
  ;
  border-color: #000000;
}

.nav-dark .nav__button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.nav-dark .nav__link_active::after {
  background-color: #000000;
}

.nav--dark .nav__button-user {
  color: #000000;
  border-color: #000000;
}

.nav-dark .header__logout-icon {
  filter: brightness(0);
}

.nav__button {
  color: #ffffff;
  border-color: #ffffff;
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
    flex-direction: column;
    background-color: #000000;
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    padding: 16px;
    z-index: 10;
  }

  .nav__button {
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
  }

  .nav.nav_open {
    display: flex;
    /* height: 174px; */
    box-sizing: border-box;
    padding-left: 45px;
    padding-bottom: 24px;
  }

  .nav__link_active::after {
    background-color: #000000;
    display: none;
  }

  .nav__link {
    color: #ffffff;
    width: 100%;
  }
}
