.header {
  background: url("../../assets/PhoneInHand.jpg") center/cover no-repeat;
  color: white;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px 104px 26px;
}

.header__logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
