/* src/components/Footer/Footer.css */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 104px;
  font-size: 14px;
  color: #555;
  flex-wrap: wrap;
}

.footer__text {
  font-family: "Roboto", fantasy;
  font-size: 16px;
  color: #b6bcbf;
  margin: 0;
}

.footer__links {
  display: flex;
  gap: 20px;
}

.footer__link {
  font-family: "Roboto", fantasy;
  color: #555;
  font-size: 18px;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.footer__link:hover {
  opacity: 0.7;
}

.footer__icons {
  display: flex;
  gap: 24px;
}
.footer__right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer__icon-image {
  width: 20px;
  height: 20px;
  object-fit: cover;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;    
    padding: 24px;
  }

  .footer__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .footer__links {
    display: block;
  }

  .footer__link {
    display: block;
  }

  .footer__links > a.footer__link:nth-child(1) {
    padding-bottom: 25px;
  }

  .footer__icons {
    margin-top: -35px;
  }
  .footer__icon {
    margin: 0;
    padding: 0;
  }
  .footer__text {
    font-size: 14px;
    order: 2;
    white-space: nowrap;
    padding-top: 38px;
  }

  .footer__link {
    font-size: 18px;
  }

  .footer__icon-image {
    width: 24px;
    height: 24px;
    margin-left: 0;
  }
}
